:root {
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffa927;
    --grey-color: #5f5c5c;
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --green-color: #2BB74A;
    --red-color: #BA3518;
    --brown-color: #2F2F2F;
    --violet-color: #552A3F;
}

body {
    background: #000000;
    background-image: url("../../img/leader-board/background.png");
}

html #leader-board .main-body{
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

div {
    /* border: 1px solid white; */
}

.box-1 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.main-body,
.sidebar-left,
.daily-leader-board,
.weekly-leader-board,
.info-box {
    display: flex;
    flex-direction: row;
}

#leader-board .main-body {
    width: 100%;
    padding: 50px;
    border: none;
    border-radius: 30px;
    background-image: url("../../img/leader-board/background.png");
    margin: 20px;
}

.info-box,
.user-box,
.card-box,
.feedback-box,
.pending-box,
.active-box,
.history-box {
    /* border: 1px solid white; */
    margin-bottom: 10px;
}

.info-box img {
    width: 100%;
    height: auto;
}

.info-box .follow {
    width: 100%;
    height: 55px;
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

.info-box .following {
    width: 100%;
    height: 55px;
    background-color: orange;
    color: white;
    border: 2px solid white;
}

.info-box .hit-rate,
.info-box .day-pnl,
.info-box .rating {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.info-box .hit-rate,
.info-box .day-pnl {
    margin-bottom: 10px;
    /* height: 87px; */
}

.info-box .hit-rate > *,
.info-box .day-pnl > *,
.info-box .rating > * {
    margin: 0;
}

.info-box .hit-rate .title,
.info-box .day-pnl .title,
.info-box .rating .title {
    color: var(--grey-color);
    padding-bottom: 10px;
    box-sizing: border-box;
}

.info-box .day-pnl .percent {
    color: var(--green-color);
}

.info-box .rating .star .enable {
    color: var(--yellow-color);
}

.info-box .rating .star {
    font-size: small;
}

/*.info-box .rating {*/
/*    height: 62px;*/
/*}*/


.user-box .trader-name,
.user-box .description {
    height: 80px;
    padding: px 20px;
    margin-bottom: 10px;
}

.user-box .trader-name > *,
.user-box .description > *,
.user-box .follower > *,
.user-box .rate > * {
    margin: 0;
}

.user-box {
    padding-left: 25px;
    padding-right: 25px;
    border-left: 2px solid white;
}

.user-box .trader-name,
.user-box .description {
    width: 100%;
    line-height: 80px;
}

.user-box .follower,
.user-box .rate {
    width: 95%;
    height: 62px;
    line-height: 62px;
}

.user-box .rate {
    float: right;
    background-color: #161A1E;
    color: var(--white-color);
    border: none;
}

.card-box {
    padding: 0 35px;
}

.card-box .card {
    /* width: 95%; */
    height: 80px;
    margin-bottom: 20px;
}

.card-box .card > * {
    margin: 0;
    line-height: 80px;
}

.card-box img {
    width: 100%;
    height: 100%;
}

.feedback-box {
    text-align: left;
    /* padding: 30px; */
}

.feedback-box .box-show {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px 40px;
    border-radius: 10px;
    min-height:400px
}

.feedback-box .feedback-mes {
    padding-left: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.feedback-box .feedback-mes span {
    color: var(--yellow-color);
}

.feedback-box .feedback-mes .title,
.feedback-box .feedback-mes .body {
    margin: 0;
}

.feedback-box .feedback-mes .title {
    margin-bottom: 7px;
}

.pending-box {
    /* padding: 27px 15px; */
}

.pending-box .box-show {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px 15px;
    border-radius: 10px;
    min-height: 400px;
}

.pending-box h3 {
    font-size: 0.9rem;
}

.pending-box table {
    /* width: 100%; */
    /* padding: 0 27px; */
    /* border-spacing: 0; */
}

.pending-box tr {
    width: 100%;
}

.pending-box td .row {
    margin-bottom: 7px;
    background-color: var(--grey-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
}

.pending-box tr p {
    margin: 0;
}

.pending-box table .long {
    background-color: var(--green-color);
}

.pending-box table .short {
    background-color: var(--red-color);
}

.pending-box table .long,
.pending-box table .short {
    font-size: 0.4rem;
    border-radius: 10px;
    padding: 3.5px;
    width: 80%;
}

.active-box {
    /* padding: 27px 15px; */
}

.active-box .box-show {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px 15px;
    border-radius: 10px;
    min-height: 400px;
}

.active-box h2 {
    font-size: 1rem;
    text-align: left;
    padding-left: 15px;
}

.active-box table {
    width: 100%;
}

.active-box tr {
    width: 100%;
}

.active-box td .row {
    margin-bottom: 7px;
    background-color: var(--grey-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
}

.active-box tr p {
    margin: 0;
}

.active-box table .long {
    background-color: var(--green-color);
}

.active-box table .short {
    background-color: var(--red-color);
}

.active-box table .long,
.active-box table .short {
    font-size: 0.4rem;
    border-radius: 10px;
    padding: 3.5px;
    width: 80%;
}

.active-box .pnl-per p {
    font-size: 0.5rem;
    font-weight: 600;
}

.active-box .pnl-per p.percent-green {
    color: var(--green-color);
}

.active-box .pnl-per p.percent-red {
    color: var(--red-color);
}


.active-box .pnl-per {
    display: flex;
    flex-direction: column;
}

.active-box .row .pnl-per {
    padding: 1.6px;
}

.history-box {
    /* padding: 27px 15px; */
}

.history-box .box-show {
    background-color: rgba(0,0,0,.6);
    padding: 30px 15px;
    border-radius: 10px;
    min-height: 400px;
    /* box-sizing: border-box; */}

.history-box h2 {
    /* text-align: left; */
    /* padding-left: 25px; */
}

.history-box button {
    font-size: 0.5rem !important;
    margin-top: 30px;
    cursor: pointer;
}

.history-box table {
    width: 100%;
    /* padding: 0 27px; */
    /* border-spacing: 0; */
}

.history-box tr {
    width: 100%;
}

.history-box td .row {
    margin-bottom: 7px;
    background-color: var(--grey-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
}

.history-box tr p {
    margin: 0;
}

.history-box .pnl-per p {
    font-size: 0.5rem;
    font-weight: 600;
}

.history-box .pnl-per p.percent-green {
    color: var(--green-color);
}

.history-box .pnl-per p.percent-red {
    color: var(--red-color);
}


.history-box .pnl-per {
    display: flex;
    flex-direction: column;
}

div#leader-board {
    margin: auto;
}

.info-box .column {
    padding: 0 15px;
    /* box-sizing: border-box; */
    width: 100%;
}


.pending .title,
.active .title {
    padding-left: 5px;
}

.pending h6,
.active h6 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.pending table tr,
.active table tr {
    margin-bottom: 10px;
}

.pending .info,
.active .info {
    background-color: #2F2F2F;
}

.pending .coin,
.active .coin {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

table {
    width: 100%;
    padding: 5px;
    border-spacing: 0 5px;
}

.info.coin {
    font-size: 12px;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    font-weight: bold;
    text-align: left;
}

p.entry,
p.pnl-title {
    margin: 0;
    font-size: 8px;
}

p.price-value,
p.pnl-value {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

button.edit {
    /* font-size: 12px; */
    margin-left: 5px;
    margin-right: 5px;
    background-color: #868686;
    border-radius: 5px;
    padding: 10px 0;
    /* box-sizing: border-box; */
}

.label-command {
    display: block;
    /*padding: .2em .6em .3em;*/
    font-size: 50%;
    line-height: 2;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-long {
    background-color: #2BB74A;
}


.label-short {
    background-color: #B81D1D;
}

.pnl-win {
    color: #2BB74A;
}

.pnl-lose {
    color: #B81D1D;
}

.pending .info.price, .info.pnl {
    border-radius: 0 5px 5px 0;
    padding-right: 5px;
    box-sizing: border-box;
}

.info.price, .info.pnl {
    text-align: center;
}

.trading-list .col {
    padding-left: 5px !important;
    padding-right: 5px !important;
    box-sizing: border-box;
}

td.info {
    background-color: #5c5c5c5c;
    padding: 5px 10px;
}

.pending-box h2, .active-box h2, .history-box h2 {
    font-size: 2rem;
    text-align: left;
    padding-left: 15px;
}

.info-box {
    padding-right: 5px;
}

.feedback-box, .pending-box, .active-box, .history-box {
    padding: 0 5px;
}
