@media (min-width: 1024px) and (max-width: 2540px) {}

@media (min-width: 740px) and (max-width: 1023px) {}

/* Mobile và Tablet */
@media (max-width: 1023px) {
    .main-body {
        width: 100%;
        padding: 20px;
        margin: 10px;
    }
}

@media (max-width: 380px) {
    .main-body {
        width: 100%;
        padding: 5px;
        margin: 5px;
    }
}

@media (max-width: 374px) {}
