body {
    background: #000000;
    background-image: url("../../img/login/background_authen.png");
}

.wrapper {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    padding: 24px;
}

.main-body,
.sidebar-left,
.daily-leader-board,
.weekly-leader-board {
    display: flex;
    flex-direction: row;
}

.ranking tr td {
    height: 60px;
}

.ranking img {
    height: 100%;
    border-radius: 50%;
    border: 2px solid orange;
}
