@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffa927;
    --grey-color: #5f5c5c;
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --green-color: #2BB74A;
    --red-color: #BA3518;
    --brown-color: #2F2F2F;

}

body {
    background: #000000;
    background-image: url("../../img/leader-board/background.png");
}

html #leader-board .main-body {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

/* div {
    border: 1px solid white;
} */

.main-body,
.sidebar-left,
.daily-leader-board,
.weekly-leader-board {
    display: flex;
    flex-direction: row;
}

.main-body {
    /* border: 1px solid white; */
}

.board {
    border-radius: 16px;
}

.daily-leader-board {
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #FF9900;
    padding: 30px 34px;
}

.daily-leader-board .table-1 .row h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: var(--yellow-color);
}

.daily-leader-board .table-1 table,
.daily-leader-board .table-2 table {
    width: 100%;
    padding-right: 15px;
}

.daily-leader-board .table-1 {
    padding-right: 15px;
}

.daily-leader-board .table-2 {
    margin-top: 70px;
    padding-left: 15px;
}

.daily-leader-board .table-1 tr,
.daily-leader-board .table-2 tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;}

.daily-leader-board .table-1 .number,
.daily-leader-board .table-2 .number {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.daily-leader-board .table-1 tr:first-child > .number {
    color: var(--yellow-color);
}

.daily-leader-board .table-1 img,
.daily-leader-board .table-2 img {
    width: 100%;
    height: auto;
}

.daily-leader-board .table-1 .trading-name-td,
.daily-leader-board .table-2 .trading-name-td {
    background-color: rgba(137, 137, 137, 0.4);
    border-radius: 4px;
    width: 40%;
}

.daily-leader-board .table-1 .hirate-td,
.daily-leader-board .table-2 .hirate-td {
    background-color: #7f5f207d;
    width: 15%;
}

.daily-leader-board .table-1 .pnl-per-td,
.daily-leader-board .table-2 .pnl-per-td {
    background-color: #5c5c5c5c;
    width: 15%;
}

.daily-leader-board .table-1 .number,
.daily-leader-board .table-1 .trading-name-td,
.daily-leader-board .table-1 .hirate-td,
.daily-leader-board .table-1 .pnl-per-td,
.daily-leader-board .table-2 .number,
.daily-leader-board .table-2 .trading-name-td,
.daily-leader-board .table-2 .hirate-td,
.daily-leader-board .table-2 .pnl-per-td {
    height: 40px;
    margin: auto;
    line-height: 40px;
}

.daily-leader-board .table-1 .hirate-td,
.daily-leader-board .table-1 .pnl-per-td,
.daily-leader-board .table-2 .hirate-td,
.daily-leader-board .table-2 .pnl-per-td {
    line-height: 20px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.7rem;
}

.daily-leader-board .table-1 .hirate-td .percent,
.daily-leader-board .table-1 .pnl-per-td .percent,
.daily-leader-board .table-2 .hirate-td .percent,
.daily-leader-board .table-2 .pnl-per-td .percent {
    font-size: 1.2rem;
    color: var(--yellow-color);
    line-height: 12px;
}

.daily-leader-board .table-1 .pnl-per-td .percent-green,
.daily-leader-board .table-2 .pnl-per-td .percent-green {
    color: var(--green-color);
}

.daily-leader-board .table-1 .pnl-per-td .percent-red,
.daily-leader-board .table-2 .pnl-per-td .percent-red {
    color: var(--red-color);
}

.daily-leader-board .table-1 .pnl-per-td p,
.daily-leader-board .table-2 .pnl-per-td p {
    margin: 0;
}

.weekly-board {
    margin-top: 30px;
    background-color: rgba(125, 125, 125, 0.2);
    border: none;
}

.trading-name {
    font-size: 1.5rem;
}

td.trading-name-td {
    /*padding: 0 20px;*/
}

.avt {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid var(--yellow-color);
    border-radius: 50%;
    overflow: hidden;
}
