#home .cover img{
    width: 100%;
}

.banner {
    position: relative;
    height: 500px;
    background-image: url("../../img/home/cover-banner.png");
}

.cover {
    position: absolute;
    z-index: -1;
}

.banner-content {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    padding: 30px;
}

h1.title-banner {
    text-align: right;
    font-size: 5rem;
}

.action-banner button {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

button.register{
    background-color: #FFA927;
}

button.trial{
    background-color: #37b451;
}
