:root {
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffa927;
    --grey-color: #5f5c5c;
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --green-color: #2BB74A;
    --red-color: #BA3518;
    --brown-color: #2F2F2F;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


.grid-center__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--yellow-color);
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 12px 0;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background-color: #999;
}

.select-input {
    position: relative;
    height: 34px;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 0 0 8px;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    list-style: none;
    display: none;
    animation: fadeIn ease-in-out 0.24s;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 10px;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}

/* CUSTOM */
.btn {
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    color: var(--white-color);
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    opacity: .8;
}

.btn:hover {
    opacity: 1;
}

.btn-green {
    background-color: var(--green-color);
}

.btn-red {
    background-color: var(--red-color);
}

.sidebar-left, .sidebar-right {
    padding: 0 25px;
    box-sizing: border-box;
}

.sidebar-left img, .sidebar-right img {
    width: 100%;
    margin-bottom: 5px;
}
