.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.grid-row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.grid-col {
    padding-left: 4px;
    padding-right: 4px;
}

.grid-row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.grid-m-0 {
    display: none;
}

.grid-m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.grid-m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.grid-m-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.grid-m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.grid-m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.grid-m-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.grid-m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.grid-m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.grid-m-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.grid-m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.grid-m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.grid-m-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.grid-m-o-1 {
    margin-left: 8.33333%;
}

.grid-m-o-2 {
    margin-left: 16.66667%;
}

.grid-m-o-3 {
    margin-left: 25%;
}

.grid-m-o-4 {
    margin-left: 33.33333%;
}

.grid-m-o-5 {
    margin-left: 41.66667%;
}

.grid-m-o-6 {
    margin-left: 50%;
}

.grid-m-o-7 {
    margin-left: 58.33333%;
}

.grid-m-o-8 {
    margin-left: 66.66667%;
}

.grid-m-o-9 {
    margin-left: 75%;
}

.grid-m-o-10 {
    margin-left: 83.33333%;
}

.grid-m-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .grid-row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .grid-t-0 {
        display: none;
    }

    .grid-t-1,
    .grid-t-2,
    .grid-t-3,
    .grid-t-4,
    .grid-t-5,
    .grid-t-6,
    .grid-t-7,
    .grid-t-8,
    .grid-t-9,
    .grid-t-10,
    .grid-t-11,
    .grid-t-12 {
        display: block;
    }

    .grid-t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .grid-t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .grid-t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .grid-t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .grid-t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .grid-t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .grid-t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .grid-t-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .grid-t-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .grid-t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .grid-t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .grid-t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .grid-t-o-1 {
        margin-left: 8.33333%;
    }

    .grid-t-o-2 {
        margin-left: 16.66667%;
    }

    .grid-t-o-3 {
        margin-left: 25%;
    }

    .grid-t-o-4 {
        margin-left: 33.33333%;
    }

    .grid-t-o-5 {
        margin-left: 41.66667%;
    }

    .grid-t-o-6 {
        margin-left: 50%;
    }

    .grid-t-o-7 {
        margin-left: 58.33333%;
    }

    .grid-t-o-8 {
        margin-left: 66.66667%;
    }

    .grid-t-o-9 {
        margin-left: 75%;
    }

    .grid-t-o-10 {
        margin-left: 83.33333%;
    }

    .grid-t-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .grid-row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .grid-row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .grid-row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .grid-p-0 {
        display: none;
    }

    .grid-p-1,
    .grid-p-2,
    .grid-p-2-4,
    .grid-p-9-6,
    .grid-p-3,
    .grid-p-4,
    .grid-p-5,
    .grid-p-6,
    .grid-p-7,
    .grid-p-8,
    .grid-p-9,
    .grid-p-10,
    .grid-p-11,
    .grid-p-12 {
        display: block;
    }

    .grid-p-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .grid-p-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .grid-p-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .grid-p-9-6 {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .grid-p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .grid-p-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .grid-p-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .grid-p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .grid-p-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .grid-p-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .grid-p-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .grid-p-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .grid-p-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .grid-p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .grid-p-o-1 {
        margin-left: 8.33333%;
    }

    .grid-p-o-2 {
        margin-left: 16.66667%;
    }

    .grid-p-o-3 {
        margin-left: 25%;
    }

    .grid-p-o-4 {
        margin-left: 33.33333%;
    }

    .grid-p-o-5 {
        margin-left: 41.66667%;
    }

    .grid-p-o-6 {
        margin-left: 50%;
    }

    .grid-p-o-7 {
        margin-left: 58.33333%;
    }

    .grid-p-o-8 {
        margin-left: 66.66667%;
    }

    .grid-p-o-9 {
        margin-left: 75%;
    }

    .grid-p-o-10 {
        margin-left: 83.33333%;
    }

    .grid-p-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .grid-row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .grid-row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .grid-row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .grid-p-0 {
        display: none;
    }

    .wide .grid-p-1,
    .wide .grid-p-2,
    .wide .grid-p-2-4,
    .wide .grid-p-9-6,
    .wide .grid-p-3,
    .wide .grid-p-4,
    .wide .grid-p-5,
    .wide .grid-p-6,
    .wide .grid-p-7,
    .wide .grid-p-8,
    .wide .grid-p-9,
    .wide .grid-p-10,
    .wide .grid-p-11,
    .wide .grid-p-12 {
        display: block;
    }

    .wide .grid-p-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .grid-p-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .grid-p-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .grid-p-9-6 {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .wide .grid-p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .grid-p-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .grid-p-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .grid-p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .grid-p-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .grid-p-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .grid-p-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .grid-p-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .grid-p-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .grid-p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .grid-p-o-1 {
        margin-left: 8.33333%;
    }

    .wide .grid-p-o-2 {
        margin-left: 16.66667%;
    }

    .wide .grid-p-o-3 {
        margin-left: 25%;
    }

    .wide .grid-p-o-4 {
        margin-left: 33.33333%;
    }

    .wide .grid-p-o-5 {
        margin-left: 41.66667%;
    }

    .wide .grid-p-o-6 {
        margin-left: 50%;
    }

    .wide .grid-p-o-7 {
        margin-left: 58.33333%;
    }

    .wide .grid-p-o-8 {
        margin-left: 66.66667%;
    }

    .wide .grid-p-o-9 {
        margin-left: 75%;
    }

    .wide .grid-p-o-10 {
        margin-left: 83.33333%;
    }

    .wide .grid-p-o-11 {
        margin-left: 91.66667%;
    }
}
