@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
    --white-color: #fff;
    --black-color: rgba(0, 0, 0, 0.7);
    --yellow-color: #ffa927;
    --grey-color: #5f5c5c;
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --green-color: #2BB74A;
    --red-color: #BA3518;
    --brown-color: #2F2F2F;

}

body {
    background: #000000;
    background-image: url("../../img/membership/membership-bg.png");
}

#membership .main-body .title {
    text-align: center;
    color: var(--yellow-color);
    font-size: 1.3rem;
}

.free-pack, .basic-pack, .premium-pack, .supreme-pack {
    min-height: 400px;
    background: black;
    border-radius: 10px;
    position: relative;
}
.free-pack .pack-title{
    background-image: url("../../img/membership/free-pack.png");
}
.basic-pack .pack-title{
    background-image: url("../../img/membership/basic-pack.png");
}
.premium-pack .pack-title{
    background-image: url("../../img/membership/premium-pack.png");
}
.supreme-pack .pack-title{
    background-image: url("../../img/membership/supreme-pack.png");
}



.pack-title {
    padding: 30px 30px;
    background-size: cover;
    border-radius: 20px;
    box-sizing: border-box;
}



h1.inner-title {
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

p.time-pack {
    padding: 10px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    border-radius: 5px;
    color: var(--yellow-color);
    margin: 0;
}
.pack{
    padding: 0 10px;
}
p.pack-name {
    text-align: center;
    font-size: 3rem;
}

.feature-list li {
    list-style: none;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.2rem;
}

.feature-list ul {
    padding: 0 40px;
    box-sizing: border-box;
}

li.list-item.disable-item {
    color: red;
}

.feature-list ul li:last-child{
    border-bottom: none;
}

/*.feature-list {*/
/*    padding-bottom: 30px;*/
/*}*/

.btn-pack {
    text-align: center;
}

.btn-pack button {
    background-color: var(--yellow-color);
    padding: 10px 40px;
    box-sizing: border-box;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    filter: brightness(125%);
}

li.list-item.disable-item.two-height {
    height: 45px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */
.popup {
    margin: auto;
}

.popup h3 {
    /* margin: 10px; */
    text-align: left;
}

.modal-content {
    background-color: #0B0B0B;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 15px;
}

.modal-content h3 {
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
}

.modal-content input {
    width: 100%;
}

.modal .row .col {
    padding: 10px 10px;
    box-sizing: border-box;
}

.modal .row .title {
    padding: 0 10px;
    box-sizing: border-box;
}


.modal-content input {
    height: 30px;
    background-color: #2F2F2F !important;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    color: white !important;
}

#buy-btn{
    padding: 10px 20px;
    background-color: var(--yellow-color);
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}
#close-btn{
    padding: 10px 20px;
    background-color: var(--white-color);
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}
.close{
    color: var(--white-color);
}

.other {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.inner-payment {
    width: 300px;
    height: 60px;
    padding: 20px 40px;
    margin: auto;
    font-size: 2rem;
    background: black;
    border-radius: 10px;
    cursor: pointer;
}

.instruction-payment {
}

.inner-payment:hover {
    text-decoration: underline;
}

.partner {
    margin: auto;
    width: 60%;
    padding: 0 25px;
}

h1.title-partner {
    font-size: 4rem;
}


p.content-partner {
    font-size: 1.6rem;
    color: var(--yellow-color);
}

h2.fee-partner {
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 30px;
}

.contact-partner button {
    padding: 20px 40px;
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--yellow-color);
    border:none;
    cursor:pointer;
}
