:root {
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffa927;
    --grey-color: #5f5c5c;
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --green-color: #2BB74A;
    --red-color: #BA3518;
    --brown-color: #2F2F2F;
    --violet-color: #552A3F;
}

body {
    background: #000000;
    background-image: url("../../img/user-detail/background.png");
}

html {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.main-body .info-box,
.main-body .trade-info-box,
.rank-acc-box,
.infomation-box,
.code-box {
    /* border: 1px solid white; */
}

.main-body {
    /* padding: 0 55px; */
    /* border: 1px solid white; */
}

#user-detail .main-body {
    padding: 50px;
    background-image: url("../../img/user-detail/background.png");
    border-radius: 20px;
    /* margin: 20px; */
}

.main-body .info-box {
    /* background: goldenrod; */
    padding: 0 10px 0 0;
}

.main-body .info-box .row {
    margin: 0;
}

.main-body .info-box img {
    width: 100%;
}

.main-body .info-box .trade-btn {
    padding-right: 5px;
}

.main-body .info-box .trade-btn p, .main-body .info-box .social {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: var(--yellow-color);
    margin-top: 10px;
    padding: 10px 5px;
    height: 60px;
}

.main-body .social {
    padding-left: 5px;
}

.main-body .info-box .trade-btn {
    padding-right: 5px;
    line-height: 35px;

}


.main-body .social .telegram {
    color: #575757;
    font-size: 0.55rem;
    line-height: 10px;
    margin: 0;

}

.main-body .social .social-add {
    font-size: 0.7rem;
    line-height: 30px;
    color: var(--white-color);
    margin: 0;
}

.main-body .trade-info-box {
    padding: 0px 20px !important;
    /* background-color: goldenrod; */
}

.main-body .trade-info-box .trade-name h2,
.main-body .rank-acc-box .rank-name h2 {
    height: 100px;
    background-color: #000000;
    border-radius: 20px;

    line-height: 100px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.main-body .trade-info-box .box-mini {
    padding: 0 5px;
}

.main-body .trade-info-box .row-2 {
    display: flex;
    flex-direction: row;
}

.main-body .trade-info-box .row-2 {
}

.main-body .trade-info-box .earn-money {
    padding-right: 5px;
}

.main-body .trade-info-box .earn-money-register {
    padding-left: 5px;
}


.main-body .trade-info-box .earn-money p,
.main-body .trade-info-box .earn-money-register p {
    margin: 0;
    text-align: center;
    width: 100%;
}

.main-body .trade-info-box .box-mini {
    margin: 0;
    background-color: #00000080;
    width: 100%;
    text-align: center;
    /* height: 88px; */
    border-radius: 15px;
    /* padding: 10px; */
}

.main-body .trade-info-box .box-mini .title {
    font-size: 0.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    color: #C8C8C8;
}

.main-body .trade-info-box .box-mini .body {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
}

.main-body .trade-info-box .earn-money .body {
    color: var(--yellow-color);
}

.main-body .trade-info-box .earn-money-register .body {
    color: var(--green-color);
}

.main-body .trade-info-box .earn-money-register .box-mini {
    float: right;
}

.main-body .rank-acc-box .acc-up button {
    width: 100%;
    height: 80px;
    background-color: var(--yellow-color);
    font-size: 1.5rem;
}


.infomation-box {
    margin: 0;
    margin-top: 20px;
}

.infomation-box form {
    background-color: var(--black-color);
    border-radius: 20px;
    padding: 30px 30px;
}

.infomation-box form h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.6rem;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.infomation-box form .body ul,
.infomation-box form .body li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    margin-bottom: 14px;
}

.infomation-box form input {
    height: 40px;
    background: #48484880;
    border-radius: 10px;
    border: none;
    width: 95%;
    padding: 10px 20px;
    color: var(--white-color);
}

.infomation-box form input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /*font-weight: 900;*/
    /*color: var(--white-color);*/
}

.infomation-box form .edit {
    float: left;
    height: 40px;
    background: #323232;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 0.7rem;
    text-align: center;
    border: none;
    color: var(--white-color);
    margin-top: 0;
    padding: 0 15px;
    cursor: pointer;
}


.code-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 12px; */
    /* padding-right: 12px; */
}

.code-box .link-invite,
.code-box .code-invite {
    background-color: var(--black-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 13px 26px 13px 42px;
    margin-bottom: 10px;
}

.code-box .link-invite p,
.code-box .code-invite p,
.code-box .link-invite button,
.code-box .code-invite button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    line-height: 40px;
}

.code-box .link-invite button,
.code-box .code-invite button {
    height: 40px;
    margin: auto;
    margin-right: 0;
    padding: 0 35px;
    border-radius: 10px;
    background-color: var(--yellow-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
}

.trade-name, .rank-name {
    margin-bottom: 10px;
}

.account-basic {
    color: var(--white-color);
}

.account-trader {
    color: var(--yellow-color);
}

.account-vip {
    color: var(--green-color);
}

.account-premium {
    color: var(--red-color);
}

button:hover {
    opacity: .8;
}

.code-box .col {
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: right;
}

.acc-up .btn {
    border-radius: 15px;
}

p.title {
}

.user-telegram .box-mini .title {
    color: #565656;
}
.main-body .trade-info-box .user-telegram{
    padding: 0!important;
}

.main-body .trade-info-box .user-telegram .box-mini .title {
    font-size: 1rem;
    color: #565656;
    line-height: 40px;
}

.main-body .trade-info-box .user-telegram .box-mini .body {
    font-size: 1.5rem;
    color: var(--white-color);
    line-height: 30px;
    height: 40px;
}
