@media (min-width: 1024px) and (max-width: 2540px) {}

@media (min-width: 740px) and (max-width: 1023px) {}

/* Mobile và Tablet */
@media (max-width: 1023px) {
    .header {
        display: none;
    }

    .grid-center__mobile {
        display: block;
        text-align: center;
    }

    .auth-form__heading {
        text-align: center;
    }

    .auth-form__content {
        display: none;
    }
}

@media (max-width: 380px) {}

@media (max-width: 374px) {}