:root {
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffa927;
    --grey-color: #5f5c5c;
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --green-color: #2BB74A;
    --red-color: #BA3518;
    --brown-color: #2F2F2F;
    --violet-color: #552A3F;
}

body {
    background: #000000;
    background-image: url("../../img/leader-board/background.png");
    background-size: cover;
}

html {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.header,
.main-body,
.sidebar-right,
.sidebar-left {
    border: 1px solid white;
}

#crypto-content-blog-body .main-body {
    background-color: black;
    padding: 25px 22px;
    text-align: left;
}



#crypto-content-blog-body .main-body .title {
    margin: 0 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;
}

#crypto-content-blog-body .main-body .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin: 8px 10px 32px;
    margin-bottom: -45px;
}

/* -----------------------------------------------------------------------
--------------------------------------------------------------------------
ROW-3
--------------------------------------------------------------------------
------------------------------------------------------------------------*/
#crypto-content-blog-body .main-body .row-3 {
    margin: 0 10px;
    margin-bottom: 37px;
}

#crypto-content-blog-body .main-body .row-3 p {
    text-align: left;
}

#crypto-content-blog-body .main-body .row-3 .row-head .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.3rem;
    color: #FFFFFF;
    margin: 0;
}

#crypto-content-blog-body .main-body .row-3 .row-head .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    color: #FFFFFF;
}

#crypto-content-blog-body .main-body .row-3 li.row-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

#crypto-content-blog-body .main-body .row-3 .row-content .col-img {
    margin-top: 45px;
    padding-top: 45px;
    border-top: 1px solid white;
    padding-right: 10px;
    height: 203px;
}

#crypto-content-blog-body .main-body .row-3 .row-content img {
    width: 100%;
    border-radius: 10px;
    height: 203px;
}

#crypto-content-blog-body .main-body .row-3 .row-content .col-content {
    padding-left: 30px;
    padding-top: 45px;
    margin: auto;
}

#crypto-content-blog-body .main-body .row-3 .row-content .col-content p {
    margin: 0;
}

#crypto-content-blog-body .main-body .row-3 .row-content .col-content .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.3rem;
    color: #C8C8C8;
    margin-bottom: 9px;
}

#crypto-content-blog-body .main-body .row-3 .row-content .col-content .description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    color: #FFFFFF;
    margin-bottom: 19px;
}

#crypto-content-blog-body .main-body .row-3 .row-content span {
    color: var(--yellow-color);
}

#crypto-content-blog-body .main-body .row-3 .row-content .row-x {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}